.wrap{
    background-color: #212529;
    width: 100%;
}
.navbar{
    line-height: 27px;
}
.collapse{
    display: flex;
    justify-content: end;
     
}
.form-control{
    padding: 0px;
    background-color: #212529;  
    color: aliceblue;
    display: none;
}
